@import url(../css/bootstrap.css);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: RobotoSlabRegular;
  src: url(../fonts/Roboto%20Slab%20Regular.ttf);
}
@font-face {
  font-family: RobotoSlabBold;
  src: url(../fonts/Roboto%20Slab%20Bold.ttf);
}
header {
  background: #edebe6;
  position: fixed;
  width: 100%;
}
header .logo h1 {
  color: #664422;
  font-weight: bold;
  margin: 0;
  line-height: 80px;
}
header .search #search {
  float: right;
}
header .search a.svg-cursor {
  float: right;
  margin-top: 30px;
}
header .search :before {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
menu {
  padding-top: 30px;
  margin-bottom: 30px;
}
menu .left-menu li {
  display: inline-block;
  border-bottom: 1px solid #664422;
  width: 30%;
  margin-right: 15px;
}
menu .left-menu li a {
  color: #664422;
  text-decoration: none;
  cursor: pointer;
}
menu .left-menu .dropdown-menu {
  border: 1px solid #664422;
  top: 57%;
  left: -6px;
  width: 33%;
}
menu .left-menu .down-menu li {
  border: none;
  display: block;
  width: auto;
  margin-right: 0;
}
menu .left-menu .down-menu li a {
  line-height: 2.5;
}
menu .right-menu .menu-elements {
  float: right;
}
menu .right-menu .menu-elements #grid {
  margin-right: 25px;
}
menu .right-menu .menu-elements a.svg-cursor-grid:before {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
menu .right-menu .menu-elements a.svg-cursor-map:before {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 0px;
}
.main img {
  width: 100%;
  min-height: 400px;
  mix-blend-mode: multiply;
  border-radius: 5px;
}
.main .img-gradient {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjlmZiIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iNDclIiBzdG9wLWNvbG9yPSIjN2Y2YTVmIiBzdG9wLW9wYWNpdHk9IjAuNyIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzYxNTA0IiBzdG9wLW9wYWNpdHk9IjAuNyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(240, 249, 255, 0.7) 0%, rgba(127, 106, 95, 0.7) 47%, rgba(54, 21, 4, 0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(240, 249, 255, 0.7)), color-stop(47%, rgba(127, 106, 95, 0.7)), color-stop(100%, rgba(54, 21, 4, 0.7)));
  background: -webkit-linear-gradient(top, rgba(240, 249, 255, 0.7) 0%, rgba(127, 106, 95, 0.7) 47%, rgba(54, 21, 4, 0.7) 100%);
  background: -o-linear-gradient(top, rgba(240, 249, 255, 0.7) 0%, rgba(127, 106, 95, 0.7) 47%, rgba(54, 21, 4, 0.7) 100%);
  background: -ms-linear-gradient(top, rgba(240, 249, 255, 0.7) 0%, rgba(127, 106, 95, 0.7) 47%, rgba(54, 21, 4, 0.7) 100%);
  background: linear-gradient(to bottom, rgba(240, 249, 255, 0.7) 0%, rgba(127, 106, 95, 0.7) 47%, rgba(54, 21, 4, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3f0f9ff', endColorstr='#b3361504', GradientType=0);
}
.main .main-row {
  margin: 20px 0;
  padding: 0;
}
.main .main-foto {
  position: relative;
  padding: 0;
  width: 46.7%;
  margin-left: 15px;
  margin-right: 20px;
}
.main .main-foto img {
  max-height: 307px;
}
.main .two-foto-row {
  padding: 0;
}
.main .two-foto-row .center-foto-row {
  padding: 0;
  margin-right: 20px;
  width: 47%;
}
.main .right-foto-row {
  padding: 0;
  width: 48%;
}
.main .address {
  color: #fff;
  position: absolute;
  bottom: 70px;
  left: 40px;
}
.main .address h2 {
  font-weight: bold;
  font-size: 38px;
}
.main .address address {
  font-size: 18px;
}
.main .stars {
  position: absolute;
  color: #fff;
  bottom: 20px;
  border-top: 1px solid #fff;
  width: 100%;
  font-size: 20px;
  padding-top: 18px;
}
.main .stars .time {
  margin-left: 30px;
}
.main .stars .rating {
  float: right;
  margin-right: 50px;
}
.main .stars .rating span:hover:before {
  content: "\2606";
  position: absolute;
}
.main .row-main {
  padding: 0;
  margin: 0 0 20px 15px;
}
.main .row-main .first-foto {
  padding: 0;
  width: 22.9%;
  margin-right: 20px;
}
.main .row-main .second-foto {
  padding: 0;
  width: 22.7%;
}
.main .row-main .third-foto {
  padding: 0;
  width: 23.5%;
  margin: 0 20px;
}
.main .row-main .four-foto {
  padding: 0;
  width: 24%;
}
footer {
  margin-top: 40px;
  border-top: 1px solid #664422;
}
footer .footer-box {
  padding-top: 30px;
}
footer .footer-box .copyright {
  padding: 0;
  margin-left: 15px;
  width: 24%;
  color: #664422;
}
footer .footer-box .instagram {
  padding-left: 7px;
  width: 24%;
}
footer .footer-box .facebook {
  padding-left: 7px;
  width: 24%;
}
footer .footer-box .studio {
  padding-left: 20px;
  width: 24%;
  color: #664422;
}
footer .footer-box a {
  text-decoration: none;
  color: #664422;
}
@media screen and (max-width: 1401px) {
  /*main*/
  .main img {
    min-height: 320px;
  }
  .main .main-foto {
    width: 47%;
  }
  .main .two-foto-row .center-foto-row {
    width: 47%;
    margin-right: 20px;
  }
  .main .address {
    left: 12px;
  }
  .main .address h2 {
    font-size: 36px;
  }
  .main .stars {
    bottom: 15px;
    padding-top: 15px;
  }
  .main .stars .time {
    margin-left: 15px;
  }
  .main .stars .rating {
    margin-right: 30px;
  }
  /*--------------------------*/
}
@media screen and (max-width: 1215px) {
  /*main*/
  .main img {
    min-height: 300px;
  }
  .main .main-foto {
    width: 46%;
  }
  .main .main-foto img {
    max-height: 300px;
  }
  .main .two-foto-row .center-foto-row {
    width: 47%;
    margin-right: 20px;
  }
  .main .address {
    left: 12px;
  }
  .main .address h2 {
    font-size: 36px;
  }
  .main .stars {
    bottom: 15px;
    padding-top: 15px;
  }
  .main .stars .time {
    margin-left: 15px;
  }
  .main .stars .rating {
    margin-right: 30px;
  }
  .main .row-main .first-foto {
    width: 22%;
  }
  .main .row-main .second-foto {
    width: 22%;
  }
  .main .row-main .third-foto {
    width: 23.5%;
  }
  .main .row-main .four-foto {
    width: 24%;
  }
  /*--------------------------*/
  /*menu*/
  menu .left-menu ul li {
    width: 28%;
  }
  /*-------------------------------*/
}
body {
  font-family: RobotoSlabRegular !important;
}
