@media screen and (max-width: 1401px){
  /*main*/
  .main {
    img {
      min-height: 320px
    }
    .main-foto {
    }
    .two-foto-row {
      .center-foto-row {
      }
    }
    .address {
      left: 30px;
      h2 {
        font-size: 32px;
      }
    }
    .stars{
      bottom: 15px;
      padding-top: 15px;
      .time{
        margin-left: 15px;
      }
      .rating{
        margin-right: 40px;
      }
    }
  }
  /*--------------------------*/
  /*-----------footer---------*/
  footer{
    .footer-box{
      .copyright{
      }
      .inst-face-box{
        .instagram{
        }
        .facebook{
          padding-left: 25px;
        }
      }
      .studio{
        padding-left: 40px;
      }
      a{
      }
    }
  }
  /*---------------------*/

}