@media screen and (max-width: 767px){
  /*menu*/
  menu {
    margin: 0;
    .left-menu {
      display: none;
    }
    .right-menu{
      display: none;
    }
  }
  /*-------------------------------*/
  /*main*/
  .main {
    img {
      max-height: 350px;
    }
    .main-row{
      margin-left: 0;
      .main-foto {
        width: 100%;
        margin-left: 0;
        img{
          max-height: 350px;
        }
      }
    }
    .address {
      address{
        font-size: 16px;
      }
      h2 {
        font-size: 28px;
      }
    }
    .stars{
      bottom: 15px;
      padding-top: 15px;
      .time{
        margin-left: 10px;
        font-size: 18px;
      }
      .rating{
        margin: 5px 5px 0;
        font-size: 16px;
      }
    }
    .row-main{
      .first-foto {
        width: 100%;
        margin-bottom: 0;
      }
      .second-foto{
        width: 100%;
        margin-bottom: 0;
      }
      .third-foto{
        width: 100%;
        margin: 0 0 15px 0;
      }
      .four-foto{
        width: 100%;
      }
    }
  }
  /*--------------------------*/
/*-----------footer---------*/
footer{
  border: none;
  margin-top: 15px;
  .footer-box{
    padding-top: 10px;
    .copyright{
      display: none;
    }
    .inst-face-box{
      text-align: center;
      border-bottom: 1px solid #664422;
      margin-left: 0;
      padding-bottom: 40px;
      .instagram{
        padding-left: 0;
        width: 50%;
      }
      .facebook{
        padding-left: 0;
        width: 50%;
      }
    }
    .studio{
      text-align: center;
      padding: 15px 0;
      width: 100%;
    }
    a{
      text-decoration: none;
      color: #664422;
    }
  }

}
/*---------------------*/
}
