@media screen and (max-width: 768px){
  /*main*/
  .main {
    img {
      min-height: 300px
    }
    .main-foto {
      width: 42%;
      margin: 0 10px;
      img{
        max-height: 300px;
      }
    }
    .two-foto-row {
      .center-foto-row {
        width: 45%;
        margin-right: 10px;
      }
    }
    .address {
      left: 12px;
      h2 {
        font-size: 36px;
      }
    }
    .stars{
      bottom: 15px;
      padding-top: 15px;
      .time{
        margin-left: 15px;
      }
      .rating{
        margin-right: 30px;
      }
    }
    .row-main{
      .first-foto {
        width: 22%;
      }
      .second-foto{
        width: 22%;
      }
      .third-foto{
        width: 23.5%;
      }
      .four-foto{
        width: 24%;
      }
    }
  }
  /*--------------------------*/
  /*menu*/
  menu {
    .left-menu {
      ul {
        li {
          width: 28%;
        }
      }
    }
  }
  /*-------------------------------*/
}