@media screen and (max-width: 991px){
  /*menu*/
  menu {
    margin: 0;
    .left-menu {
      display: block;
    }
    .right-menu{
      display: block;
      .menu-elements{
      }
    }
  }
  /*-------------------------------*/
  /*main*/
  .main {
    img {
      min-height: 230px;
      max-height: 450px;
      margin-bottom: 15px;
    }
    .main-row{
      margin-bottom: 0;
      .main-foto {
        img{
          max-height: 450px;
        }
      }
    }
    .address {
      address{
        font-size: 22px;
      }
      h2 {
        font-size: 36px;
      }
    }
    .stars{
      bottom: 30px;
      padding-top: 15px;
      .time{
        margin-left: 15px;
        font-size: 18px;
      }
      .rating{
        margin: 0 50px 0;
        font-size: 18px;
      }
    }
  }
  /*--------------------------*/
  /*menu*/
  menu {
    margin-bottom: 15px;
    .left-menu {
      ul {
        li {
          width: 28%;
          a{

          }
        }
      }
    }
  }
  /*-------------------------------*/
  /*-----------footer---------*/
  footer{
    .footer-box{
      .copyright{
      }
      .inst-face-box{
        .instagram{
        }
        .facebook{
        }
      }
      .studio{
        padding-left: 40px;
      }
      a{
      }
    }
  }
  /*---------------------*/

}