header{
  background: #edebe6;
  z-index: 10;
  position: fixed !important;
  width: 100%;
  .logo{
    h1{
      color: #664422;
      font-weight: bold;
      margin: 0;
      line-height: 80px;
      font-family: RobotoSlabBold;
      margin-left: 15px;
    }
  }
  .search{
    #search{
      float: right;
    }
    a.svg-cursor{
      float: right;
      margin-top: 30px;
    }:before{
       content: "";
       display: block;
       position: absolute;
       background-color: transparent;
       cursor: pointer;
       width: 20px;
       height: 20px;
     }
  }
}