menu{
  padding-top: 110px;
  margin-bottom: 30px;
  .left-menu{
    ul{
      margin-left: 15px;
      li{
        display: inline-block;
        border-bottom: 1px solid #664422;
        width: 30%;
        margin-right: 15px;
        a{
          color: #664422;
          text-decoration: none;
          cursor: pointer;
          display: inline-block;
        }
      }
    }
    .dropdown-menu{
      border: 1px solid #664422;
      top: 90%;
      left: -20px;
      width: 120%;
      li{
        a{
          padding-right: 75px;
        }
      }
    }
    .down-menu-city{
      left: -20px;
      width: 120%;
    }
    .down-menu{
        li{
          border: none;
          display: block;
          width: auto;
          margin-right: 0;
          a{
            line-height: 2.5;
          }
        }
    }
  }
  .right-menu{
    .menu-elements{
      float: right;
      #grid{
        margin-right: 25px;
      }
      a.svg-cursor-grid:before{
        content: "";
        display: block;
        position: absolute;
        background-color: transparent;
        cursor: pointer;
        width: 20px;
        height: 20px;
      }
      a.svg-cursor-map:before{
        content: "";
        display: block;
        position: absolute;
        background-color: transparent;
        cursor: pointer;
        width: 20px;
        height: 20px;
        right: 15px;
        top: 0px;
      }
    }
  }

}